<div class="card-columns">
  <% @articles.each do |article| %>
  <%= render 'article', article: article, locals: { show_description?: false, show_comments?: true } %>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @articles%>
</div>
