<table>
  <% (@sticky_articles + @articles).map { |a| a.presenter }.each do |article| %>
  <%= render 'article', article: article, locals: { show_description?: false, show_comments?: true } %>
  <% end %>
</table>

<%= paginate @articles %>
