<table>
  <% @users.map { |u| u.presenter }.each do |user| %>
  <tr>
    <td><%= link_to_if user.active_for_authentication?, user.username, user_path(user.username) %> (<%= user.karma %>)</td>
  </tr>
  <% end %>
</table>
