<h1><%= @user.username %></h1>

<table>
  <tr>
    <td style="width: 200px"><strong>Status:</strong></td>
    <td>Active user</td>
  </tr>
  <tr>
    <td><strong>Joined:</strong></td>
    <td><%= time_ago_in_words @user.created_at %> ago</td>
  </tr>
  <tr>
    <td><strong>Stories Submitted:</strong></td>
    <td><%= @user.articles.count %></td>
  </tr>
  <tr>
    <td><strong>Comments Posted:</strong></td>
    <td><%= @user.comments.count %></td>
  </tr>
</table>
