<h1>About</h1>

Quasars is a <a href="https://lobste.rs">Lobsters</a>-like for people
who enjoy reading and sharing articles about Astronomy, Meteorology,
and Atmospheric Sciences. <em>Unlike</em> Lobsters, anyone can
join. If spam becomes an issue, I'll revisit this decision.

<h2>Planned Features</h2>

<ul>
  <li>Comment upvoting</li>
  <li>Post/comment reporting and moderation tools</li>
  <li>User profiles</li>
</ul>
