<h1>About</h1>

Quasars is a <a href="https://lobste.rs">Lobsters</a>-like for people who enjoy
Astronomy, Meteorology, and Atmospheric Sciences. <em>Unlike</em> Lobsters,
anyone can join. If spam becomes an issue, I'll revisit this decision.
