// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden-form {
    display: none;
}

textarea {
    height: 64px;
    width: 512px;
}
